.button{
    padding:12px 24px;
    border-radius:10px;
    border:none;
    background-color:#0079FF;
    color:#fff;
    font-size:1rem;
    line-height:1.5;
    cursor:pointer;
    &:hover{
        background-color:#60ABFF;
    }
}

